# /etc/udev/rules.d/70-hapticctl.rules
#
# Grant members of the 'input' group read/write access to HID haptic devices,
# so hapticctl can be used without sudo.
#
# To apply: copy this file to /etc/udev/rules.d/ and run:
#   sudo udevadm control --reload-rules && sudo udevadm trigger
#
# Then add your user to the input group:
#   sudo usermod -aG input $USER
# (log out and back in for the change to take effect)

SUBSYSTEM=="hidraw", KERNEL=="hidraw*", DRIVERS=="hid-multitouch", MODE="0660", GROUP="input", TAG+="uaccess"
